.donut-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.donut-wrapper {
	width: 100%;
	/* position: relative; */
}

.donut-svg {
	overflow: visible;
	/* position: absolute;
	top: 170px;
	left: 215px;
	z-index: 9999; */
}
