.header-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

@media screen and (max-width: 600px) {
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}