.main-grid-container {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

/* .logo {
  grid-area: 1 / 1 / 3 / 5;
} */
.overview-grid-container {
  grid-area: 1 / 11 / 13 / 13;
}
.budget-expense-grid-container {
  grid-area: 1 / 1 / 5 / 5;
}
.lead-grid-container {
  grid-area: 1 / 5 / 5 / 8;
}
.conversion-grid-container {
  grid-area: 1 / 8 / 5 / 11;
}
.goal-tracker-grid-container {
  grid-area: 5 / 1 / 13 / 5;
}
.traffic-source-grid-container {
  grid-area: 5 / 5 / 13 / 8;
}
.social-media-grid-container {
  grid-area: 5 / 8 / 13 / 11;
}

.area {
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  flex-direction: row;
  width: 100%; */
  /* border: 1px solid black; */
  height: 100%;
  /* width: 100%; */
  /* padding: 1rem; */
}

@media screen and (max-width: 600px) {
  .main-grid-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
  }
}
